@font-face {
    font-family: rubik;
    src: url("../fonts/Rubik-Bold.ttf");
}
@font-face {
    font-family: rubik;
    src: url("../fonts/Rubik-ExtraBold.ttf");
}
@font-face {
    font-family: rubik;
    src: url("../fonts/Rubik-ExtraBoldItalic.ttf");
}
@font-face {
    font-family: rubik;
    src: url("../fonts/Rubik-Light.ttf");
}
@font-face {
    font-family: rubik;
    src: url("../fonts/Rubik-Medium.ttf");
}
@font-face {
    font-family: rubik;
    src: url("../fonts/Rubik-Regular.ttf");
}